@font-face {
  font-family: 'Formular';
  src: url('../fonts/formular/Formular.eot'),
  url('../fonts/formular/Formular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/formular/Formular.woff2') format('woff2'),
  url('../fonts/formular/Formular.woff') format('woff'),
  url('../fonts/formular/Formular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/formular/Formular-Medium.eot'),
  url('../fonts/formular/Formular-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/formular/Formular-Medium.woff2') format('woff2'),
  url('../fonts/formular/Formular-Medium.woff') format('woff'),
  url('../fonts/formular/Formular-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Regular.eot'),
  url('../fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:  url('../fonts/gilroy/Gilroy-Medium.eot'),
  url('../fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
  url('../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}